//Regular
@font-face {
    font-family: "HelveticaNowDisplay-Regular";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Regular.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Regular.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Regular.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Regular.otf) format("opentype");
}

//REGULAR-ITALIC
@font-face {
    font-family: "HelveticaNowDisplay-RegIta";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-RegIta.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-RegIta.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-RegIta.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-RegIta.otf) format("opentype");
}

//MEDIUM
@font-face {
    font-family: "HelveticaNowDisplay-Medium";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Medium.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Medium.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Medium.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Medium.otf) format("opentype");
}

//MEDIUM-ITALIC
@font-face {
    font-family: "HelveticaNowDisplay-MediumIta";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-MediumIta.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-MediumIta.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-MediumIta.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-MediumIta.otf) format("opentype");
}

//BOLD
@font-face {
    font-family: "HelveticaNowDisplay-Bold";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Bold.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Bold.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Bold.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Bold.otf) format("opentype");
}

//BOLD-ITALIC
@font-face {
    font-family: "HelveticaNowDisplay-BoldIta";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-BoldIta.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-BoldIta.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-BoldIta.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-BoldIta.otf) format("opentype");
}

//BLACK
@font-face {
    font-family: "HelveticaNowDisplay-Black";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Black.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-Black.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Black.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-Black.otf) format("opentype");
}

//BLACK-ITALIC
@font-face {
    font-family: "HelveticaNowDisplay-BlackIta";
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-BlackIta.eot);
    src: url(../fonts/helvetica-now-display/HelveticaNowDisplay-BlackIta.woff) format("woff"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-BlackIta.woff2) format("woff2"),
    url(../fonts/helvetica-now-display/HelveticaNowDisplay-BlackIta.otf) format("opentype");
}